<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch view html</title>
    <link rel="stylesheet" href="../../assets/home_styles/main.min.css">
    <link rel="stylesheet" href="../../assets/home_styles/responsive.min.css">
    <link rel="stylesheet" href="../../assets/watch_styles/main.min.css">
    <link rel="stylesheet" href="../../assets/watch_styles/main.min.css">
    <link rel="stylesheet" href="assets/watch-styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="icon" type="image/x-icon"
        href="https://cdn.glitch.global/36049008-0c55-496e-873e-a2f971037d73/icon-edited.webp?v=1704340956129" />
</head>

<body>
    <div class="model-container">[model content]</div>
    <div class="header">[header content]</div>
    <div class="menu">[menu content]</div>
    <!-- WATCH VIEW -->
    <div class="close-menu"></div>
    <div class="hidden-data-container">[hidden data]</div>
    <div class="container">
        <div class="vid_div">[vid-div content]</div>
        <div class="content_div">[content-div content]</div>
    </div>
    <!-- WATCH VIEW -->
    <div class="footer">
        <h1 class="title">NHD Hentai - ASMR Hentai</h1>
        <div class="footer-content">[footer content]</div>
        <p class="c">© 2023 NHD Hentai - ASMR Hentai. All rights reserved.</p>
    </div>
</body>

</html>