@media screen and (max-width: 780px) and (orientation: portrait) {
    .menu-ctn {
        width: 40px;
        border-radius: 5px;
    }

    .menu-mp3 {
        padding: 5px 2px;
        border-radius: 5px;
        border: 1px solid white;
    }

    .img {
        display: block;
        width: 100%;
        height: auto;
    }

    body.open-menu-mp3.open-menu-ctn .menu-mp3 {
        transform: translateX(0);
        width: 100%;
    }

    body.open-menu-mp3.open-menu-ctn.menu-ctn-right .menu-mp3 {
        transform: translateX(0);
        width: 100%;
    }

    .menu-ctn .btn#rolate-btn {
        display: flex;
    }

    audio {
        height: 40px;
    }

    .aud-ctn {
        padding: 5px 15px;
    }

    .aud-ctn.playing .seek-bar {
        height: 30px;
    }

    .aud-ctn.playing .seek-bar::before {
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 10px;
    }

    .aud-ctn.playing::before {
        font-size: 13px;
        margin: 4px;
    }

    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display {
        font-size: 11px;
    }

    .btn {
        height: 30px;
    }

    .btn i {
        font-size: 18px !important;
        transform: scaleX(1) !important;
    }

    body .menu-mp3 {
        height: fit-content;
        padding-bottom: 20px;
        max-height: 40%;
    }

    body .menu-mp3 audio {
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        background-color: #111111;
    }
}